[Desktop Entry]
Version=1.0
Name=MoleQueue
GenericName=Manage computational resources
GenericName[hu]=Számítási erőforrások kezelése
Comment=Manage HPC jobs from the system tray
Comment[hu]=A nagy teljesítményű számítási feladatok kezelése a tálcán
Exec=molequeue %U
Terminal=false
Type=Application
Icon=org.openchemistry.Avogadro2.Molequeue
Categories=Qt;Science;Chemistry;
