[Desktop Entry]
Version=1.0
Name=Avogadro
Comment=Advanced molecular editor
Comment[hu]=Fejlett molekuláris szerkesztő
Exec=avogadro2 %f
Icon=org.openchemistry.Avogadro2
Terminal=false
Type=Application
Categories=Qt;Science;Chemistry;Physics;Education;
StartupNotify=true
MimeType=chemical/x-cml;chemical/x-xyz;
